
<head>
    <title>One pager Template</title>
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap-rtl.css">
</head>

<style>
    @font-face {
        font-family: Roboto Mono;
        src: url(static/RobotoMono-Medium.ttf);
    }
    body{
        font-family: "Roboto Mono";
        font-size: 10px;
    }
</style>


<body>
<div style="height:40px;">
</div>

<div class="panel panel-default panel-success" style="width:70%; margin:auto;">
    <div class="panel-heading" ><b> Simple Form </b></div>
    <div  class="form-horizontal panel-body" >
        <div  class="form-group form-group-lg">
          <div class="col-sm-10">
            <input type="text" name="code" id="code" class="form-control" autofocus autocomplete="on" required="required">
          </div>
          <lable class="col-sm-2 control-label">Input</lable>

        </div>
        <hr>
        <div style="width:40%; margin:auto;">
            <button class="btn btn-success btn-lg btn-block" id="submitter">
            <span id="submit_text">Submit</span>
            <img id="submit_pic" src="static/loading.gif" width="40px" style="display: none">
            </button>
        </div>
    </div>
</div>
<br>
<div id="result_div_parent" class="panel panel-default panel-danger" style="width:70%; margin:auto; display: none;">
    <div class="panel-heading" ><b>Answer</b></div>
    <div id="result_div" class="form-horizontal panel-body" >
    </div>
</div>
</body>
